<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dirent" version="1.13.1" targetFramework="native" />
  <package id="LodePNG" version="1.1.0" targetFramework="native" />
  <package id="OpenCV" version="2.4.6" targetFramework="native" />
  <package id="OpenCV.redist" version="2.4.6" targetFramework="native" />
  <package id="OpenCV_binaries" version="2.3.1" targetFramework="native" />
  <package id="OpenCV_headers" version="2.3.1" targetFramework="native" />
</packages>